body {
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator {
    font-family: Arial,sans-serif;
    background-color: hsl(0 0% 15%);
    max-width:500px ;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
}
#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button {
    width: 100PX;
    height: 100px;
    
    font-size: 3rem;
    background-color: hsl(0, 0%, 30%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
button:hover {
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}